# Core Audio & AI Libraries
# torch
# torchaudio
soundfile
huggingface_hub
gradio
# Text-to-Speech (Kokoro)
kokoro-onnx[gpu]
misaki[en,ja,zh]

# Voice Conversion (Kanade)
# git+https://github.com/frothywater/kanade-tokenizer